{% extends "client/layout.html" %}
{% block body %}

    <h3 class="profile-username text-center"> Creditors Payment Details </h3>
<hr/>

        <div class="col-md-6">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Company Name: </b> <a class="float-right">{{ object.creditors_master }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Amount: </b> <a class="float-right">{{ object.amount }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Payment Type: </b> <a class="float-right">{{ object.payment_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Bank Name: </b> <a class="float-right">{{ object.bank_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Branch Name: </b> <a class="float-right">{{ object.branch_name }}</a>
                    </li>

                </ul>

              </div>

            </div>

    </div>

    <div class="col-md-6" align="left">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3">


                    <li class="list-group-item">
                    <b> Cheque Number: </b> <a class="float-right">{{ object.cheque_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Cheque Date: </b> <a class="float-right">{{ object.cheque_date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> ID Of Online Transaction: </b> <a class="float-right">{{ object.reffrence }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Slip Number: </b> <a class="float-right">{{ object.slip_no }}</a>
                    </li>

                </ul>

              </div>

            </div>

    </div>

{% endblock %}
