{% extends "client/layout.html" %}
{% block body %}
    <h1 align="center"> Are you Sure You Want To Delete ? </h1>
    <hr/>
    <form method="post">
    {% csrf_token %}

        <ul>
                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Company Name: </b> <a class="float-right">{{ object.creditors_master }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Amount: </b> <a class="float-right">{{ object.amount }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Payment Type: </b> <a class="float-right">{{ object.payment_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Bank Name: </b> <a class="float-right">{{ object.bank_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Branch Name: </b> <a class="float-right">{{ object.branch_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Cheque Number: </b> <a class="float-right">{{ object.cheque_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Cheque Date: </b> <a class="float-right">{{ object.cheque_date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> ID Of Online Transaction: </b> <a class="float-right">{{ object.reffrence }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Slip Number: </b> <a class="float-right">{{ object.slip_no }}</a>
                    </li>


        </ul>

        <div align="center">
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'creditors_payment-view' %}" class="btn btn-info">Cancel </a>
        </div>

    </form>
{% endblock %}
