{% extends "client/layout.html" %}
{% block body %}
<ul>
    <h3 class="profile-username text-center" align="center"> Creditors Payment Details </h3>
                <ul class="list-group list-group-unbordered mb-3">
                <div>
                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Company Name: </b> <a class="float-right">{{ object.creditors_master }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Amount: </b> <a class="float-right">{{ object.amount }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Payment Type: </b> <a class="float-right">{{ object.payment_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Bank Name: </b> <a class="float-right">{{ object.bank_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Branch Name: </b> <a class="float-right">{{ object.branch_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Cheque Number: </b> <a class="float-right">{{ object.cheque_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Cheque Date: </b> <a class="float-right">{{ object.cheque_date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> ID Of Online Transaction: </b> <a class="float-right">{{ object.reffrence }}</a>
                    </li>

                </div>
                </ul>
</ul>
{% endblock %}
