{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
<!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Nozzlle Transaction Entry Form </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST">
              {% csrf_token %}

                  <div class="card-body">

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4">
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                      <!-- /.form group -->
                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputPetrolrate"> Nozzlle Detail </label>
                      {% crispy_field form.nozzlle_master %}
                      {% if  form.nozzlle_master.errors %}
                          {% for error in form.nozzlle_master.errors %}
                              <div class="invalid-feedback">
                                  {{ error }}
                              </div>
                          {% endfor %}
                      {% endif %}
                  </div>

                  <!-- /.form group -->
                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputPetrolrate"> Employee Detail </label>
                      {% crispy_field form.employee_master %}
                      {% if  form.employee_master.errors %}
                          {% for error in form.employee_master.errors %}
                              <div class="invalid-feedback">
                                  {{ error }}
                              </div>
                          {% endfor %}
                      {% endif %}
                  </div>


                  </div>

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate"> Amount Of Cash </label>
                    <div class="input-group">
                      {% crispy_field form.cash %}
                        {% if  form.cash.errors %}
                            {% for error in form.cash.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Amount Of PhonePay</label>
                    <div class="input-group">
                      {% crispy_field form.phonePay %}
                        {% if  form.phonePay.errors %}
                            {% for error in form.phonePay.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Amount Of GooglePay</label>
                    <div class="input-group">
                      {% crispy_field form.googlePay %}
                        {% if  form.googlePay.errors %}
                            {% for error in form.googlePay.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


                  </div>

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4" id="bankname">
                    <label for="exampleInputDieselrate">Amount Of Paytm</label>
                    <div class="input-group">
                      {% crispy_field form.paytm %}
                        {% if  form.paytm.errors %}
                            {% for error in form.paytm.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


                      <div class="form-group col-lg-4 col-lg-4" id="branchname">
                    <label for="exampleInputDieselrate">Amount Of UPI</label>
                    <div class="input-group">
                      {% crispy_field form.upi %}
                        {% if  form.upi.errors %}
                            {% for error in form.upi.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group col-lg-4 col-lg-4" id="branchname">
                    <label for="exampleInputDieselrate">Amount Of Credit/Debit Card</label>
                    <div class="input-group">
                      {% crispy_field form.credit_debit_card %}
                        {% if  form.credit_debit_card.errors %}
                            {% for error in form.credit_debit_card.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>


                  <div class="row">

                      <div class="form-group col-lg-6 col-lg-6">
                        <label for="exampleInputDieselrate">Opening Time</label>
                        <div class="input-group">
                          {% crispy_field form.opening_time %}
                            {% if  form.opening_time.errors %}
                                {% for error in form.opening_time.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                      <div class="form-group col-lg-6 col-lg-6">
                        <label for="exampleInputDieselrate"> Closing Time</label>
                        <div class="input-group">
                          {% crispy_field form.closing_time %}
                            {% if  form.closing_time.errors %}
                                {% for error in form.closing_time.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="form-group col-lg-6 col-lg-6" id="o_l_p">
                        <label for="exampleInputDieselrate">Opening Litere in Petrol</label>
                        <div class="input-group">
                          {% crispy_field form.opening_lit_petrol %}
                            {% if  form.opening_lit_petrol.errors %}
                                {% for error in form.opening_lit_petrol.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                      <div class="form-group col-lg-6 col-lg-6" id="c_l_p">
                        <label for="exampleInputDieselrate"> Closing Litere in Petrol</label>
                        <div class="input-group">
                          {% crispy_field form.closing_lit_petrol %}
                            {% if  form.closing_lit_petrol.errors %}
                                {% for error in form.closing_lit_petrol.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="form-group col-lg-6 col-lg-6" id="o_l_d">
                        <label for="exampleInputDieselrate">Opening litere in Diesel</label>
                        <div class="input-group">
                          {% crispy_field form.Opening_lit_Diesel %}
                            {% if  form.Opening_lit_Diesel.errors %}
                                {% for error in form.Opening_lit_Diesel.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                      <div class="form-group col-lg-6 col-lg-6" id="c_l_d">
                        <label for="exampleInputDieselrate">Closing Litere in Diesel</label>
                        <div class="input-group">
                          {% crispy_field form.closing_lit_Diesel %}
                            {% if  form.closing_lit_Diesel.errors %}
                                {% for error in form.closing_lit_Diesel.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                  </div>

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4" id="t_l_p">
                        <label for="exampleInputDieselrate">Total Litere Petrol</label>
                        <div class="input-group">
                          {% crispy_field form.total_lit_petrol %}
                            {% if  form.total_lit_petrol.errors %}
                                {% for error in form.total_lit_petrol.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                      <div class="form-group col-lg-4 col-lg-4" id="t_p_p">
                        <label for="exampleInputDieselrate" >Total Price Of Petrol</label>
                          <div class="input-group">
                            {% crispy_field form.total_price_petrol %}
                            {% if  form.total_price_petrol.errors %}
                                {% for error in form.total_price_petrol.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        </div>

                        <div class="form-group col-lg-4 col-lg-4" id="l_p_p">
                        <label for="exampleInputDieselrate">Loss Of Price in Petrol</label>
                        <div class="input-group">
                            {% crispy_field form.loss_price_petrol %}
                            {% if  form.loss_price_petrol.errors %}
                                {% for error in form.loss_price_petrol.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        </div>

                  </div>


                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4" id="t_l_d">
                        <label for="exampleInputDieselrate"> Total Litere Diesel </label>
                        <div class="input-group">
                          {% crispy_field form.total_lit_diesel %}
                            {% if  form.total_lit_diesel.errors %}
                                {% for error in form.total_lit_diesel.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                      </div>

                        <div class="form-group col-lg-4 col-lg-4" id="t_p_d">
                        <label for="exampleInputDieselrate">Total Price Of Diesel</label>
                        <div class="input-group">
                            {% crispy_field form.total_price_diesel %}
                            {% if  form.total_price_diesel.errors %}
                                {% for error in form.total_price_diesel.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        </div>

                        <div class="form-group col-lg-4 col-lg-4" id="l_p_d">
                        <label for="exampleInputDieselrate">Loss Of Price in Diesel</label>
                        <div class="input-group">
                            {% crispy_field form.loss_price_diesel %}
                            {% if  form.loss_price_diesel.errors %}
                                {% for error in form.loss_price_diesel.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        </div>

                  </div>

                  <div class="form-group col-lg-4 col-lg-4">
                        <label for="exampleInputDieselrate" >Creditor Amount</label>
                          <div class="input-group">
                            {% crispy_field form.creditor_amount %}
                            {% if  form.creditor_amount.errors %}
                                {% for error in form.creditor_amount.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                  </div>

                  </div>


{#                  </div>#}


                  <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>


              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>

    <script>
          document.addEventListener('DOMContentLoaded',function(){

                // hide and show columns
              document.querySelector("#id_nozzlle_master").onchange=function(){

                  const url1=`http://127.0.0.1:8000/nozzlle_master/creditor_amount/${this.value}`;
                  fetch(url1)
                  .then(response => response.json())
                  .then(data => {
                            if(data.diesel_in_lit__sum != undefined)
                            {
                                fetch("http://127.0.0.1:8000/tank_master/dieselprice/")
                                .then(response => response.json())
                                .then(data1 => {
                                        document.querySelector("#id_creditor_amount").value=data.diesel_in_lit__sum * data1.diesel_price;
                                })

                            }
                            else {
                                //document.querySelector("#id_creditor_amount").value=data.petrol_in_lit__sum;
                                fetch("http://127.0.0.1:8000/tank_master/petorlprice/")
                                .then(response => response.json())
                                .then(data1 => {
                                        document.querySelector("#id_creditor_amount").value=data.petorl_in_lit__sum * data1.petrol_price;
                                })
                            }
                  })

                  // fetch type
                  const url=`http://127.0.0.1:8000/nozzlle_master/type/${this.value}`;
                  fetch(url)
                  .then(response => response.json())
                  .then(data => {
                      let type=data.type.toLowerCase();

                    if(type == 'petrol')
                    {
                            document.querySelector("#t_l_p").style.display='block';
                            document.querySelector("#t_l_d").style.display='none';
                            document.querySelector("#t_p_p").style.display='block';
                            document.querySelector("#t_p_d").style.display='none';
                            document.querySelector("#l_p_p").style.display='block';
                            document.querySelector("#l_p_d").style.display='none';
                            document.querySelector("#o_l_p").style.display='block';
                            document.querySelector("#o_l_d").style.display='none';
                            document.querySelector("#c_l_p").style.display='block';
                            document.querySelector("#c_l_d").style.display='none';
                    }
                    else if(type=='diesel')
                    {
                            document.querySelector("#t_l_p").style.display='none';
                            document.querySelector("#t_l_d").style.display='block';
                            document.querySelector("#t_p_p").style.display='none';
                            document.querySelector("#t_p_d").style.display='block';
                            document.querySelector("#l_p_p").style.display='none';
                            document.querySelector("#l_p_d").style.display='block';
                            document.querySelector("#o_l_p").style.display='none';
                            document.querySelector("#o_l_d").style.display='block';
                            document.querySelector("#c_l_p").style.display='none';
                            document.querySelector("#c_l_d").style.display='block';

                    }

                  })
              }

              // get total price of petrol
              document.querySelector("#id_closing_lit_petrol").onkeyup=function(){

                  console.log("inside keyup event");
                  //get the petrol rate
                   // fetch the rate of petrol
              fetch("http://127.0.0.1:8000/tank_master/petrolprice/")
              .then(response => response.json())
              .then(data => {


                  //console.log(data.petrol_price);  //50
                  let opl=document.querySelector("#id_opening_lit_petrol").value;
                  let cpl=document.querySelector("#id_closing_lit_petrol").value;
                  let lit=cpl-opl;

                  document.querySelector("#id_total_lit_petrol").value=lit;
                  document.querySelector("#id_total_price_petrol").value=data.petrol_price*lit;
              })
              }

              // get total price of diesel
              document.querySelector("#id_closing_lit_Diesel").onkeyup=function(){

                  console.log("inside keyup event");
                  //get the petrol rate
                   // fetch the rate of petrol
              fetch("http://127.0.0.1:8000/tank_master/dieselprice/")
              .then(response => response.json())
              .then(data => {

                  //console.log(data.petrol_price);  //50
                  let opl=document.querySelector("#id_Opening_lit_Diesel").value;
                  let cpl=document.querySelector("#id_closing_lit_Diesel").value;
                  let lit=cpl-opl;


                  document.querySelector("#id_total_lit_diesel").value=lit;

                  document.querySelector("#id_total_price_diesel").value=data.diesel_price*lit;
              })
              }

          })
    </script>

    <script>

        document.addEventListener('DOMContentLoaded',function (){

            document.querySelector('#id_loss_price_petrol').onfocusout=function (){

                let cash=document.querySelector('#id_cash').value;
                let paytm=document.querySelector('#id_paytm').value;
                let phonepay=document.querySelector('#id_phonepay').value;
                let card_debit_card=document.querySelector('#id_card').value;
                let googlepay=document.querySelector('#id_googlepay').value;
                let camount=document.querySelector('#id_creditoramount').value;
                let tp=document.querySelector('#id_totaldprice').value;

                let a=cash+paytm+phonepay+card+googlepay+camount

                document.querySelector('#id_loss_price_petrol').value=a-tp;
            }
        })

    </script>

{% endblock %}
