{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
<!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title"> Calculation Entry Form </h3>
              </div>
              <!-- /.card-header -->
<hr/>

                <!-- form start -->
              <form method="POST">
              {% csrf_token %}

                  <div class="form-group col-lg-6 col-lg-6" >
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                  </div>

                      <!-- /.form group -->

                  <div class="row">

                          <div class="form-group col-lg-6 col-lg-6">
                        <label for="exampleInputPetrolrate">Opening Of Tank</label>
                          {% crispy_field form.tank_opening %}
                          {% if  form.tank_opening.errors %}
                              {% for error in form.tank_opening.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                          <div class="form-group col-lg-6 col-lg-6">
                        <label for="exampleInputPetrolrate">Closing Of Tank</label>
                          {% crispy_field form.tank_closing %}
                          {% if  form.tank_closing.errors %}
                              {% for error in form.tank_closing.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                  </div>


                  <div class="row">

                  <div class="form-group col-lg-6 col-lg-6">
                    <label for="exampleInputDieselrate">Total Literes Petrol</label>
                    <div class="input-group">
                      {% crispy_field form.total_lit_petrol %}
                        {% if  form.total_lit_petrol.errors %}
                            {% for error in form.total_lit_petrol.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group col-lg-6 col-lg-6">
                    <label for="exampleInputDieselrate">Total Literes Diesel</label>
                    <div class="input-group">
                      {% crispy_field form.total_lit_diesel %}
                        {% if  form.total_lit_diesel.errors %}
                            {% for error in form.total_lit_diesel.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>


                  <div class="row">

                  <div class="form-group col-lg-6 col-lg-6">
                    <label for="exampleInputDieselrate">Loss in Petrol</label>
                    <div class="input-group">
                      {% crispy_field form.loss_in_petrol %}
                        {% if  form.loss_in_petrol.errors %}
                            {% for error in form.loss_in_petrol.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group col-lg-6 col-lg-6">
                    <label for="exampleInputDieselrate">Loss in Diesel</label>
                    <div class="input-group">
                      {% crispy_field form.loss_in_diesel %}
                        {% if  form.loss_in_diesel.errors %}
                            {% for error in form.loss_in_diesel.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>

                <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>

                </div>

                </form>

            </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>


{% endblock %}

