{% extends "client/layout.html" %}
{% block body %}

    <h3 class="profile-username text-center"> Tank Details </h3>
<hr/>

    <div align="center">

        <div class="col-md-6" align="left">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3" >

<li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Opening Of Petrol in Tank: </b> <a class="float-right">{{ object.tank_lit_petrol }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Closing Of Petrol in Tank: </b> <a class="float-right">{{ object.tank_lit_diesel }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Opening Of Diesel in Tank: </b> <a class="float-right">{{ object.total_lit_petrol }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Closing Of Diesel in Tank: </b> <a class="float-right">{{ object.total_lit_diesel }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Total Literes Petrol: </b> <a class="float-right">{{ object.total_price_petrol }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Total Literes Diesel: </b> <a class="float-right">{{ object.total_price_diesel }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Loss in Petrol: </b> <a class="float-right">{{ object.loss_in_petrol }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Loss in Diesel: </b> <a class="float-right">{{ object.loss_in_diesel }}</a>
                    </li>

                </ul>

              </div>

            </div>

    </div>

    </div>

            <div align="center">
                 <a href="{% url 'calculation-view' %}" class="btn btn-info"><b>Back</b></a>
            </div>


{% endblock %}

