{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
    <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                <h4 align="center"> Calculation Entry Form </h4>
              </div>
              <!-- /.card-header -->
<hr/>
                <!-- form start -->
              <form method="POST">
              {% csrf_token %}

                  <div class="form-group col-lg-6 col-lg-6" >
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                  </div>
                      <!-- /.form group -->

                      <div class="row">

                          <div class="form-group col-lg-6 col-sm-6">
                            <label for="exampleInputPetrolrate">Total Litere Petrol</label>
                            {% crispy_field form.total_lit_petrol %}
                              {% if  form.total_lit_petrol.errors %}
                                    {% for error in form.total_lit_petrol.errors %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                    {% endfor %}
                              {% endif %}
                          </div>

                          <div class="form-group col-lg-6 col-sm-6">
                              <label for="exampleInputPetrolrate">Total Litere Diesel</label>
                              {% crispy_field form.total_lit_diesel %}
                              {% if  form.total_lit_diesel.errors %}
                                  {% for error in form.total_lit_diesel.errors %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                          </div>

                      </div>

                      <div class="row">

                          <div class="form-group col-lg-6 col-sm-6">
                            <label for="exampleInputPetrolrate">Total Price of Petrol</label>
                            {% crispy_field form.total_price_petrol %}
                              {% if  form.total_price_petrol.errors %}
                                    {% for error in form.total_price_petrol.errors %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                    {% endfor %}
                              {% endif %}
                          </div>

                          <div class="form-group col-lg-6 col-sm-6">
                              <label for="exampleInputPetrolrate">Closing Of Diesel in Tank</label>
                              {% crispy_field form.total_price_diesel %}
                              {% if  form.total_price_diesel.errors %}
                                  {% for error in form.total_price_diesel.errors %}
                                      <div class="invalid-feedback">
                                          {{ error }}
                                      </div>
                                  {% endfor %}
                              {% endif %}
                          </div>

                      </div>

                      <div class="row">

                        <div class="form-group col-lg-6 col-sm-6">
                            <label for="exampleInputDieselrate">Tank Litere Petrol</label>
                            <div class="input-group">
                                {% crispy_field form.tank_lit_petrol %}
                                {% if  form.tank_lit_petrol.errors %}
                                {% for error in form.tank_lit_petrol.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-lg-sm">
                            <label for="exampleInputDieselrate">Tank Litere Diesel</label>
                            <div class="input-group">
                              {% crispy_field form.tank_lit_diesel %}
                                {% if  form.tank_lit_diesel.errors %}
                                    {% for error in form.tank_lit_diesel.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                      </div>


                      <div class="row">

                        <div class="form-group col-lg-6 col-sm-6">
                            <label for="exampleInputDieselrate">Loss in Petrol</label>
                            <div class="input-group">
                              {% crispy_field form.loss_in_petrol %}
                                {% if  form.loss_in_petrol.errors %}
                                    {% for error in form.loss_in_petrol.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group col-lg-6 col-sm-6">
                            <label for="exampleInputDieselrate">Loss in Diesel</label>
                            <div class="input-group">
                              {% crispy_field form.loss_in_diesel %}
                                {% if  form.loss_in_diesel.errors %}
                                    {% for error in form.loss_in_diesel.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                      </div>

                <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>

                </div>

                </form>

                </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>

    <script>

    document.addEventListener('DOMContentLoaded',function () {
        document.querySelector("#id_total_lit_petrol").value={{ total_lit_petrol }};
        document.querySelector("#id_total_lit_diesel").value={{ total_lit_diesel }};
        document.querySelector("#id_total_price_petrol").value={{ total_price_petrol }};
        document.querySelector("#id_total_price_diesel").value={{ total_price_diesel }};
        document.querySelector("#id_tank_lit_petrol").value={{ tank_lit_petrol }};
        document.querySelector("#id_tank_lit_diesel").value={{ tank_lit_diesel }};
        document.querySelector("#id_loss_in_petrol").value={{ loss_price_petrol }};
        document.querySelector("#id_loss_in_diesel").value={{ loss_price_diesel }};


    })
    </script>


{% endblock %}

