{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
<!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Suppliers Entry Form </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST">
              {% csrf_token %}

                  <div class="card-body">

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4">
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>


                      <!-- /.form group -->
                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputPetrolrate">Receipt Number</label>
                      {% crispy_field form.receipt_no %}
                      {% if  form.receipt_no.errors %}
                          {% for error in form.receipt_no.errors %}
                              <div class="invalid-feedback">
                                  {{ error }}
                              </div>
                          {% endfor %}
                      {% endif %}
                  </div>

                  </div>

                  <div class="row">

                          <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Petrol in Literes</label>
                    <div class="input-group">
                      {% crispy_field form.petrol_in_lit %}
                        {% if  form.petrol_in_lit.errors %}
                            {% for error in form.petrol_in_lit.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Diesel in Literes</label>
                    <div class="input-group">
                      {% crispy_field form.diesel_in_lit %}
                        {% if  form.diesel_in_lit.errors %}
                            {% for error in form.diesel_in_lit.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>

                  <div class="row">

                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Loss Of Petrol In Literes</label>
                    <div class="input-group">
                      {% crispy_field form.loss_of_petrol_in_lit %}
                        {% if  form.loss_of_petrol_in_lit.errors %}
                            {% for error in form.loss_of_petrol_in_lit.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                      <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Loss Of Diesel in Literes</label>
                    <div class="input-group">
                      {% crispy_field form.loss_of_diesel_in_lit %}
                        {% if  form.loss_of_diesel_in_lit.errors %}
                            {% for error in form.loss_of_diesel_in_lit.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Transportation Expense</label>
                    <div class="input-group">
                      {% crispy_field form.transportation_expense %}
                        {% if  form.transportation_expense.errors %}
                            {% for error in form.transportation_expense.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


                  </div>


                  <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>

{% endblock %}
