{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
<!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Tank Table</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST">
              {% csrf_token %}
                  <div class="card-body">


                  <div class="form-group form-group col-lg-4 col-lg-4">
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>

                <!-- /.form group -->

                  <div class="row">

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Opening Of Petrol</label>
                          {% crispy_field form.petrol_opening %}
                          {% if  form.petrol_opening.errors %}
                              {% for error in form.petrol_opening.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                      <div class="form-group form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Closing Of Petrol</label>
                    <div class="input-group">
                      {% crispy_field form.petrol_closing %}
                        {% if  form.petrol_closing.errors %}
                            {% for error in form.petrol_closing.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  </div>

                  <div class="row">

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Opening Of Diesel</label>
                          {% crispy_field form.diesel_opening %}
                          {% if  form.diesel_opening.errors %}
                              {% for error in form.diesel_opening.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Closing Of Diesel</label>
                          {% crispy_field form.diesel_closing %}
                          {% if  form.diesel_closing.errors %}
                              {% for error in form.diesel_closing.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                  </div>

                  <div class="row">

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Loss Of Petrol in Literes</label>
                          {% crispy_field form.loss_petrol_lit %}
                          {% if  form.loss_petrol_lit.errors %}
                              {% for error in form.loss_petrol_lit.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Loss Of Diesel in Literes</label>
                          {% crispy_field form.loss_diesel_lit %}
                          {% if  form.loss_diesel_lit.errors %}
                              {% for error in form.loss_diesel_lit.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                  </div>

                  <div class="row">

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Loss Of Petrol in Price</label>
                          {% crispy_field form.loss_petrol_price %}
                          {% if  form.loss_petrol_price.errors %}
                              {% for error in form.loss_petrol_price.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                      <div class="form-group form-group col-lg-4 col-lg-4">
                        <label for="exampleInputPetrolrate">Loss Of Diesel in Price</label>
                          {% crispy_field form.loss_diesel_price %}
                          {% if  form.loss_diesel_price.errors %}
                              {% for error in form.loss_diesel_price.errors %}
                                  <div class="invalid-feedback">
                                      {{ error }}
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>

                  </div>

                  <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                  </div>
              </form>
            </div>
            </div>
            </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>

    <script>
      document.addEventListener('DOMContentLoaded',function(){

          //document.querySelector("button").on
          document.querySelector("#id_loss_petrol_lit").onkeyup=function(){

              // fetch the rate of petrol
              fetch("http://127.0.0.1:8000/tank_master/petrolprice/")
              .then(response => response.json())
              .then(data => {

                  console.log(data.petrol_price);  //50
                  let lostpp=document.querySelector("#id_loss_petrol_price");
                  lostpp.value=data.petrol_price*this.value;
              })
          }
      })
    </script>

        <script>
      document.addEventListener('DOMContentLoaded',function(){

          //document.querySelector("button").on
          document.querySelector("#id_loss_diesel_lit").onkeyup=function(){

              // fetch the rate of diesel
              fetch("http://127.0.0.1:8000/tank_master/dieselprice/")
              .then(response => response.json())
              .then(data => {

                  console.log(data.diesel_price);  //50
                  let lostpp=document.querySelector("#id_loss_diesel_price");
                  lostpp.value=data.diesel_price*this.value;
              })
          }
      })
    </script>

{% endblock %}
