{% extends "client/layout.html" %}
{% block body %}
    <h1> Are you Sure You Want To Delete ? </h1>
    <form method="post">
    {% csrf_token %}
     <ul>
        <li> Date : {{ object.date }}</li>
         <li> Petrol Opening : {{ object.petrol_opening }}</li>
         <li> Petrol Opening :{{ object.petrol_opening }}</li>
         <li> Diesel Opening : {{ object.diesel_opening }}</li>
         <li> Diesel Closing : {{ object.diesel_closing }}</li>
         <li> Loss Of Petrol in Literes : {{ object.loss_petrol_lit }}</li>
         <li> Loss Of Diesel in Literes : {{ object.loss_diesel_lit }}</li>
         <li> Loss Of Petrol in Price : {{ object.loss_petrol_price }}</li>
         <li> Loss Of Diesel inPrice : {{ object.loss_diesel_price }}</li>
    </ul>
        <input type="submit" value="delete" class="btn btn-danger">
        <a href="{% url 'rate-view' %}" class="btn btn-info" >cancel </a>
    </form>
{% endblock %}
