{% extends "client/layout.html" %}
{% block body %}
    <h1 align="center"> Are you Sure You Want To Delete ? </h1>
    <hr/>
    <form method="post">
    {% csrf_token %}

<div class="row">

         <div class="col-md-6">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                    <b>Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Opening Of Petrol: </b> <a class="float-right">{{ object.petrol_opening }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Closing Of Petrol: </b> <a class="float-right">{{ object.petrol_closing }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Opening Of Diesel: </b> <a class="float-right">{{ object.diesel_opening }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Closing Of Diesel: </b> <a class="float-right">{{ object.diesel_closing }}</a>
                    </li>

                </ul>

              </div>

            </div>

    </div>

        <div class="col-md-6">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                    <b>Loss Of Petrol in Literes: </b> <a class="float-right">{{ object.loss_petrol_lit }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Diesel in Literes:</b> <a class="float-right">{{ object.loss_diesel_lit }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Petrol in Price: </b> <a class="float-right">{{ object.loss_petrol_price }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Diesel in Price: </b> <a class="float-right">{{ object.loss_diesel_price }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Opening Literes Of Oil: </b> <a class="float-right">{{ object.oil_lit_opening }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Closing Literes Of Oil: </b> <a class="float-right">{{ object.oil_lit_closing }}</a>
                    </li>

                </ul>

              </div>

            </div>
    </div>

    </div>

    <div align="center">
            <input type="submit" value="delete" class="btn btn-danger">
            <a href="{% url 'tank-view' %}" class="btn btn-info" >cancel </a>
        </div>

    </form>
{% endblock %}
