{% extends "client/layout.html" %}
{% block body %}

    <h3 class="profile-username text-center"> Tank Details </h3>
                <ul class="list-group list-group-unbordered mb-3">
                <div>
                    <li class="list-group-item">
                    <b>Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Opening Of Petrol: </b> <a class="float-right">{{ object.petrol_opening }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Closing Of Petrol: </b> <a class="float-right">{{ object.petrol_closing }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Opening Of Diesel: </b> <a class="float-right">{{ object.diesel_opening }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Closing Of Diesel: </b> <a class="float-right">{{ object.diesel_closing }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Petrol in Literes: </b> <a class="float-right">{{ object.loss_petrol_lit }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Diesel in Literes:</b> <a class="float-right">{{ object.loss_diesel_lit }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Petrol in Price: </b> <a class="float-right">{{ object.loss_petrol_price }}</a>
                    </li>
                    <li class="list-group-item">
                    <b>Loss Of Diesel in Price: </b> <a class="float-right">{{ object.loss_diesel_price }}</a>
                    </li>

                </div>

                </ul>

{% endblock %}
