{% extends "client/layout.html" %}
{% load static %}
{% block extra_css %}
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block body %}

            <div class="card">
              <div class="card-header">
                <h3 class="card-title" align="center"> Employee DailyBase Table </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                      <th>Date</th>
                      <th>Employee Id</th>
                      <th>Employee Name</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                    <tbody>
                        {% for dailybase_a in e_dailybase_amount %}
                        <tr>
                            <td data-sort="{{ dailybase_a.date|date:"Ymd" }}">{{ dailybase_a.date | date:"d-m-Y" }}</td>
                            <td>{{ dailybase_a.employee_id }}</td>
                            <td>{{ dailybase_a.employee_name }}</td>
                            <td>
                                <a href="{% url 'e_dailybase_amount-update'  dailybase_a.id %}" class="btn btn-info">
                                   <li class="fas fa-pencil-alt"></li> Edit
                                </a>
                                <a href="{% url 'e_dailybase_amount-detail'  dailybase_a.id %}" class="btn btn-success">
                                   <li class="fas fa-file-invoice"></li> Detail
                                </a>
                                <a href="{% url 'e_dailybase_amount-delete'  dailybase_a.id %}" class="btn btn-danger">
                                   <li class="fas fa-trash-alt"></li> Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                  <tfoot>
                  <tr>
                      <th align="center">Date</th>
                      <th align="center">Employee Id</th>
                      <th align="center">Employee Name</th>
                      <th align="center">Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

{% endblock %}

{% block extra_js %}

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>

{% endblock %}
