{% extends "client/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}
<!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">

{% endblock %}
{% block body %}
            <!-- general form elements -->
                <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title" textalign="center"> Creditors Vehicle Entry Form </h3>
              </div>
              <!-- /.card-header -->
<hr/>
                <!-- form start -->
              <form method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="form-group col-lg-4 col-lg-4" >
                  <label>Date:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                        {% crispy_field form.date %}
                        {% if form.date.errors %}
                            {% for error in date.errors %}
                                <div class="invalid-feedback">
                                {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                  </div>


                      <!-- /.form group -->

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputPetrolrate">Vehicle Number</label>
                      {% crispy_field form.vehicle_no %}
                      {% if  form.vehicle_no.errors %}
                          {% for error in form.vehicle_no.errors %}
                              <div class="invalid-feedback">
                                  {{ error }}
                              </div>
                          {% endfor %}
                      {% endif %}
                  </div>


              </div>

              <div class="row">

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Name Of The Driver</label>
                    <div class="input-group">
                      {% crispy_field form.driver_name %}
                        {% if  form.driver_name.errors %}
                            {% for error in form.driver_name.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Type Of Vehicle</label>
                    <div class="input-group">
                      {% crispy_field form.vehicle_type %}
                        {% if  form.vehicle_type.errors %}
                            {% for error in form.vehicle_type.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


              </div>

              <div class="row">

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Type Of Fuel</label>
                    <div class="input-group">
                      {% crispy_field form.fuel_type %}
                        {% if  form.fuel_type.errors %}
                            {% for error in form.fuel_type.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group col-lg-4 col-lg-4">
                    <label for="exampleInputDieselrate">Company Name</label>
                    <div class="input-group">
                      {% crispy_field form.creditors_master %}
                        {% if  form.creditors_master.errors %}
                            {% for error in form.creditors_master.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>


              </div>

                  <div class="form-group">
                    <label for="exampleInputDieselrate">Remark</label>
                    <div class="input-group">
                      {% crispy_field form.remark %}
                        {% if  form.remark.errors %}
                            {% for error in form.remark.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                  </div>

                <!-- /.card-body -->

                <div class="card-footer" align="center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
                </div>
            <!-- /.card -->

            <!-- general form elements -->

{% endblock %}
{% block extra_js %}
    <!-- bs-custom-file-input -->
    <script src=" {% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %} "></script>

    <!-- InputMask -->
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'plugins/inputmask/jquery.inputmask.min.js'%}"></script>
    <!-- date-range-picker -->
    <script src="{% static 'plugins/daterangepicker/daterangepicker.js'%}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js'%}"></script>
<script>
$(function () {
    <!-- bootstrap color picker -->
    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>

{% endblock %}
