{% extends "client/layout.html" %}
{% block body %}
<ul>
    <h3 class="profile-username text-center" align="center"> Creditors Vehicle Details </h3>
                <ul class="list-group list-group-unbordered mb-3">
                <div>
                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Company Name: </b> <a class="float-right">{{ object.creditors_master }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Type Of Vehicle: </b> <a class="float-right">{{ object.vehicle_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Vehicle Number: </b> <a class="float-right">{{ object.vehicle_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Type Of Fuel: </b> <a class="float-right">{{ object.fuel_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Name Of Driver: </b> <a class="float-right">{{ object.driver_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Remark: </b> <a class="float-right">{{ object.remark }}</a>
                    </li>

                </div>
                </ul>
</ul>
{% endblock %}
