{% extends "client/layout.html" %}
{% block body %}

    <h3 class="profile-username text-center"> Creditors Vehicle Details </h3>
<hr/>
    <div align="center">

        <div class="col-md-6" align="left">

            <div class="card card-primary card-outline" class="col-md-4">
              <div class="card-body box-profile">

                <ul class="list-group list-group-unbordered mb-3">

                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Company Name: </b> <a class="float-right">{{ object.creditors_master }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Type Of Vehicle: </b> <a class="float-right">{{ object.vehicle_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Vehicle Number: </b> <a class="float-right">{{ object.vehicle_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Type Of Fuel: </b> <a class="float-right">{{ object.fuel_type }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Name Of Driver: </b> <a class="float-right">{{ object.driver_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Remark: </b> <a class="float-right">{{ object.remark }}</a>
                    </li>

                </ul>

              </div>

            </div>

    </div>

    </div>

{% endblock %}
