{% extends "client/layout.html" %}
{% block body %}
    <h1 align="center"> Employee Details </h1>
    <hr/>

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{ object.photo.url }}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ object.first_name }} {{ object.middle_name }} {{ object.last_name }}</h3>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Date:</b> <a class="float-right">{{ object.date }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Contact_No</b> <a class="float-right">{{ object.Contact_no }}</a>
                  </li>
                  </li>


                </ul>

{#                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}
              </div>
              <!-- /.card-body -->
            </div>
{#            <!-- /.card -->#}

          </div>
            <div class="col-md-6">
            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Employee</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i>Education</strong>

                <p class="text-muted">
                  {{ object.education }}
                </p>
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                {{ object.address }} {{ object.Street }} {{ object.area }} {{ object.City }} {{ object.state }} {{ object.pincode }} {{ object.Country }}

                <hr>
                  <strong><i class="fas fa-pencil-alt mr-1"></i> Personal INFO </strong>

                <br class="text-muted">
                  <span class="tag tag-danger">Gender: {{ object.gender }}</span><hr/>
                  <span class="tag tag-success">D.O.B: {{ object.dob }}</span><hr/>
                  <span class="tag tag-info">Designation: {{ object.designation }}</span><hr/>
                  <span class="tag tag-warning">Reffrence: {{ object.reffrence }}</span><hr/>
                  <span class="tag tag-primary">Shift Timing: {{ object.shift_timming }}</span><hr/>
                  <span class="tag tag-primary">Expected Salary: {{ object.expected_salary }}</span><hr/>
                  <span class="tag tag-primary">Bank Name: {{ object.bank_name }}</span><hr/>
                  <span class="tag tag-primary">Account Number: {{ object.account_no }}</span><hr/>
                  <span class="tag tag-primary">IFSC Code: {{ object.ifsc_code }}</span><hr/>
                  <span class="tag tag-primary">Salary: {{ object.salary }}</span><hr/>
                  <span class="tag tag-primary">Pan Number: {{ object.Pan_Number }}</span><hr/>
                  <span class="tag tag-primary">Vaccinated: {{ object.vaccinated }}</span>


                <hr>

                        <p>

                        </p>
                    </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}
