{% extends "client/layout.html" %}
{% block body %}
    <h1 align="center"> Are you Sure You Want To Delete ?</h1>
    <hr/>
    <form method="post">
    {% csrf_token %}
     <ul>
                    <li class="list-group-item">
                    <b> Date: </b> <a class="float-right">{{ object.date }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Employee Id: </b> <a class="float-right">{{ object.employee_id }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> First Name: </b> <a class="float-right">{{ object.first_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Middle Name: </b> <a class="float-right">{{ object.middle_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Last Name: </b> <a class="float-right">{{ object.last_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Contact Number: </b> <a class="float-right">{{ object.Contact_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Address: </b> <a class="float-right">{{ object.address }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Street Name: </b> <a class="float-right">{{ object.Street }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Area Name: </b> <a class="float-right">{{ object.area }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> City Name: </b> <a class="float-right">{{ object.City }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> State Name: </b> <a class="float-right">{{ object.state }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Pincode: </b> <a class="float-right">{{ object.pincode }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Country Name: </b> <a class="float-right">{{ object.Country }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Date Of Birth: </b> <a class="float-right">{{ object.dob }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Designation: </b> <a class="float-right">{{ object.designation }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Gender: </b> <a class="float-right">{{ object.gender }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Refference: </b> <a class="float-right">{{ object.reffrence }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Shift Timing: </b> <a class="float-right">{{ object.shift_timming }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Education: </b> <a class="float-right">{{ object.education }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Date Of Join: </b> <a class="float-right">{{ object.Date_of_join }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Expected Salary: </b> <a class="float-right">{{ object.expected_salary }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Photo: </b> <a class="float-right">{{ object.photo }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Documents: </b> <a class="float-right">{{ object.Document_file }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Bank Name: </b> <a class="float-right">{{ object.bank_name }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Account Number: </b> <a class="float-right">{{ object.account_no }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> IFSC Code: </b> <a class="float-right">{{ object.ifsc_code }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Salary: </b> <a class="float-right">{{ object.salary }}</a>
                    </li>

                    <li class="list-group-item">
                    <b> Pan Number: </b> <a class="float-right">{{ object.Pan_Number }}</a>
                    </li>

     </ul>

        <div align="center">

            <input type="submit" value="delete" class="btn btn-danger">
            <a href="{% url 'rate-view' %}" class="btn btn-info" >cancel </a>

        </div>
    </form>
{% endblock %}
